SOAP/SOAPEjercicio1/web/WEB-INF/wsdl/localhost_8080/SOAPEjercicio1/SOAPSaludos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://soapSaludos/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soapSaludos/">

<xs:element name="saludaEnglish" type="tns:saludaEnglish"/>

<xs:element name="saludaEnglishResponse" type="tns:saludaEnglishResponse"/>

<xs:element name="saludaEspanol" type="tns:saludaEspanol"/>

<xs:element name="saludaEspanolResponse" type="tns:saludaEspanolResponse"/>

<xs:element name="saludaFrancais" type="tns:saludaFrancais"/>

<xs:element name="saludaFrancaisResponse" type="tns:saludaFrancaisResponse"/>

<xs:complexType name="saludaEspanol">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludaEspanolResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludaFrancais">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludaFrancaisResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludaEnglish">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludaEnglishResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>